@font-face {
  font-family: 'Satoshi';
  src: url(./fonts/Satoshi.ttf);
}

@font-face {
  font-family: 'Gulax';
  src: url(./fonts/Gulax.otf);
}

html {
  background-color: #1c1c1c;
  color: white;
}

p {
  text-align: justify;
  font-family: 'Satoshi';
}

h1 {
  font-family: 'Gulax';
  font-size: 80px;
  margin-top: -10px;
}

h2 {
  text-align: left;
}

#about {
  display: flex;
  flex-direction: row;
}

#about-text {
  width: 70%;
  margin-right: 30px;

}

#about-photo {
  width: 500px;
  height: auto;
}

#travel {
  width: 80%;
  height: auto;
  margin-top: 20px;
}

#hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

